<div class="profile_header" *ngIf="userDetails | async as user">
    <div class="content" style="padding:0px">
        <div class="user_pic">
            <img [src]="user.photoURL">
        </div>
        <div class="user_info">
            <div class="userName">{{ user.displayName }}</div>
            <div class="userID">{{ user.email }}</div>
        </div>
    </div>
</div>
<div class="content">
    <div class="skillsList" title="Endrose Skills">
        <div *ngFor="let skill of skills | async" class="skillRow">
            <div class="plusCounts" (click)="endrose(skill)" [ngClass]="skill.isEndrosed == -1 ? 'endrosedN': 'endrosed'">{{skill.data.endorsements}}
                <i class="icon-plus" *ngIf="skill.isEndrosed == -1"></i>
            </div>
            <div class="skillName" (click)="endrose(skill)">{{skill.id}}</div>
            <div class="endrosedBy">
                <div class="endrosedUser" *ngFor="let user of skill.data.endroseBy">
                    <app-hover-card [UID]="user"></app-hover-card>
                </div>
            </div>
        </div>
    </div>
</div>