<div class="dashboard-user userRow" *ngIf="auth.user | async as user" [routerLink]="['/profile']">
    <div>
        <img [src]="user.photoURL" class="userDP">
        <span class="usersName">{{user.displayName}}</span>
        <span class="usersMail">{{user.email}}</span>
        <i class="icon-chevron-right rightIcon"></i>
    </div>
</div>

<div class="allUsers">
    <div class="userRow" *ngFor="let user of users | async" [routerLink]="['/user', user.id]">
        <img [src]="user.data.photoURL" class="userDP">
        <span class="usersName">{{user.data.displayName}}</span>
        <span class="usersMail">{{user.data.email}}</span>
        <i class="icon-chevron-right rightIcon"></i>
    </div>
</div>