.dashboard-user,
.allUsers {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin: 20px;
}

.dashboard-user {
    padding: 20px 10px !important;
    cursor: pointer;
}

.userRow {
    padding: 5px 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    vertical-align: middle;
    height: 30px;
}

.userRow:hover {
    background-color: #eee;
}

.userDP {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    float: left;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
    background-color: #ccc;
    border: none;
}

.usersName,
.usersMail {
    display: inline-block;
    height: 30px;
    vertical-align: middle;
    line-height: 30px;
    padding: 0px 10px;
}

.usersMail {
    font-size: 11px;
    color: #777;
}

.rightIcon {
    float: right;
    color: #ccc;
    line-height: 30px;
    transition: all 1s fade;
}

.userRow:hover .rightIcon {
    color: #777;
    margin-right: -2px;
}